mixin statistic(svg, num, name)
    - var svgName = svg;
    .statistics__item
        .statistics__image
            img( src="img/svg/" + svgName + ".svg" alt="" + svgName)
        span.statistics__num #{num}
        span.statistics__name #{name}

mixin card(imgHref, title, list, link)
    .column-one 
        .column-img
            img(src=imgHref)
        span.plan-text #{title}
        ul.list-plan
            each item in list
                li.column-item #{item}
        a(href=link) link!

