mixin statistic(svg, num, name)
    - var svgName = svg;
    .statistics__item
        .statistics__image
            img( src="img/svg/" + svgName + ".svg" alt="" + svgName)
        span.statistics__num #{num}
        span.statistics__name #{name}

mixin card(imgHref, title, list, price, link)
    .column-with-plan 
        img.column-img(src=imgHref)
        span.plan-text #{title}
        ul.list-plan
            each item in list
                li.column-item #{item}
        .plan-price
            .plan-price-text #{price}
        a.select(href=link) Select

mixin slider-card(img, title, subtitle, grade, svg, review)