mixin statistic(svg, num, name)
    - var svgName = svg;
    .statistics__item
        .statistics__image
            img( src="img/svg/" + svgName + ".svg" alt="" + svgName)
        .statistics__num #{num}
        .statistics__name #{name}

mixin card(imgHref, title, list, price, link)
    .column-with-plan 
        img.column-img(src=imgHref)
        span.plan-text #{title}
        ul.list-plan
            each item in list
                li.column-item #{item}
        .plan-price #{price}
        a.select(href=link) Select

mixin slider-card(imgPhoto, title, subtitle, grade, imgStar, review)
    .about 
        .header-card
            .personal
                img.photo(src="img/" + imgPhoto + ".png" alt="" + imgPhoto)
                .about-card
                    .card-title #{title}
                    .card-subtitle #{subtitle}
            .grade-card
                .grade #{grade}
                img.img-star(src="img/star.png")
        .slider-review #{review}
        